.button {
  background-color: var(--c-theme);
  color: var(--c-text-color);
  padding-left: 15px !important;
  padding-right: 15px !important;
  height: 40px;
  min-width: 40px;
  font-weight: bold;

  &:hover {
    background-color: var(--c-theme);
    color: var(--c-text-color);
  }
}

.bigButton {
  height: 47px;
  min-width: 47px;
}
